replicaCount: "1"
image:
  registry: "quay.io"
  repository: "lajos_nagy/hiveforge-controller"
  tag: "latest"
  pullPolicy: "IfNotPresent"

migration:
  image:
    registry: "quay.io"
    repository: "lajos_nagy/hiveforge-database-migrations"
    tag: "latest"
    pullPolicy: "IfNotPresent"

tunables:
  network:
    targetPort: "4000"
    servicePort: "80"
    pgPort: "5432"
    type: "ClusterIP"
  database:
    secretName: "hiveforge-database-secret"
    name: "hiveforge-database"
    clusterName: "hiveforge-cluster"
    namespace: "hiveforge-database"
  storage:
    secretName: "hiveforge-storage-secret"
    backend: "minio"
    bucketName: "hiveforge"
    endpoint: "http://10.1.2.3:9000"
    accessKey: ""
    secretAccessKey: ""
    region: ""

env:
  - name: TLS_TERMINATION_METHOD
    value: "service"
  - name: HIVEFORGE_CONTROLLER_INTERNAL_SERVICE_PORT
    value: "4000"
  - name: RELEASE_CONFIG_DIR
    value: /app/config
