apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}-service"
spec:
  type: {{ .Values.tunables.network.type }}
  ports:
    - port: {{ .Values.tunables.network.containerPort }}
      targetPort: {{ .Values.tunables.network.targetPort }}
      protocol: TCP
  selector:
    app: {{ .Release.Name }}
