replicaCount: "1"

image:
  registry: "quay.io"
  repository: "lajos_nagy/hiveforge-controller"
  tag: "erlang-27.0-20240807-7"
  pullPolicy: "IfNotPresent"


migration:
  image:
    registry: "quay.io"
    repository: "lajos_nagy/hiveforge-database-migrations"
    tag: "erlang-27.0-20240807-1"
    pullPolicy: "IfNotPresent"

tunables:
  network:
    targetPort: "4000"
    servicePort: "80"
    pgPort: "5432"
    type: "ClusterIP"
  database:
    secretName: "hiveforge-database-secret"
    name: "hiveforge-database"
    clusterName: "hiveforge-cluster"
    namespace: "hiveforge-database"
  storage:
    secretName: "hiveforge-storage-secret"
    backend: "minio"
    bucketName: "hiveforge-controller-test-bucket"
    endpoint: "http://10.1.99.1:9000"
    accessKeyId: "iUCkD0IAY29pMA1roZWJ"
    secretAccessKey: "5FYkByfO5n1eM2ooOiTmWWR9yhwesebyFWk1Jiov"
    region: ""
env:
  - name: TLS_TERMINATION_METHOD
    value: "service"
  - name: HIVEFORGE_CONTROLLER_INTERNAL_SERVICE_PORT
    value: "4000"
  - name: RELEASE_CONFIG_DIR
    value: /app/config
